<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Vue Calendar</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<div id='app'>
		<div class="calendar-layout">
			<component
				:is='datePicker'
				:day-key='displayKey'
				v-model='dateVal'>
			</component>
		</div>
		<div class='sidebar'>
			<h4>Picked Date</h4>
			<div v-if='dateVal'>
				{{ dateVal }}
			</div>
			<div v-else>
				None
			</div>
		</div>
	</div>

	<template id='calendar'>
		<div class='calendar'>
			<div class='header'>
				<a class='arrow' @click='movePreviousYear'>&laquo;</a>
				<a class='arrow' @click='movePreviousMonth'>&lsaquo;</a>
				<span class='title' @click='moveThisMonth'>
					{{ header.label }}
				</span>
				<a class='arrow' @click='moveNextMonth'>&rsaquo;</a>
				<a class='arrow' @click='moveNextYear'>&raquo;</a>
			</div>
			<div class='weekdays'>
				<div class='weekday' v-for='weekday in weekdays'>
					{{ weekday.label_3 }}
				</div>
			</div>
			<div class='week' v-for='week in weeks'>
				<div
					class='day'
					:class='{ today: day.isToday, "not-in-month": !day.inMonth, "selected": day.isSelected && !day.dragActive, "dragged": day.isDragged }'
					v-for='day in week'
					@click='$emit("selectDay", day)'
					@mouseenter='$emit("enterDay", day)'
					@mouseleave='$emit("leaveDay", day)'>
					{{ day[dayKey] }}
				</div>
			</div>
		</div>
	</template>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="main.js"></script>
</body>
</html>